/* CSS stylesheet */
body {
   /* Body - 70's themed. */
   font-family: monospace;
   background-color: goldenrod;
  }
h1 {
      color: steelblue;
      font-size: 45px;
    }
h2 {
      color: olivedrab;
      font-size: 30px;
  }
b {
     background-color: #173E4E;
    }
i {
    background-color: #173E4E;
      }
.intro {
   color: black;
  background-color: #173E4E;
  font-size: 30px;
  padding: 5%;
    }
  .main-container {
     background-color: #173E4E;
     padding: 5%;
     opacity: 0.85;
  }
.ideas {
       color: black;
       font-size: 70px;
       opacity: 0.75;
       position: absolute;
    }
  p i {

     text-decoration: underline;
  }
  p b {

     text-decoration: underline;
  }
