body {
   background-color: white;
   padding: 30px;
}

h1, h2, h3, h4 {
   text-align: center;
   padding: 2px;
   line-height: -.5;
}
h1 {
  font-size: 60pt;
  font-style: normal;
  font-family: 'UnifrakturMaguntia', cursive, 'Arial Black';
}
h2 {
  font-family: 'Cinzel', serif, 'Palatino Linotype';
  font-size: 20pt;
}
h4 {
     font-family: 'Cinzel', serif, 'Palatino Linotype';
}
.important {
   font-family: 'Cinzel', serif, 'Palatino Linotype';
   font-size: 12pt;
   background-color: steelblue;
}
.chapter {
  font-family: 'Cinzel', serif, 'Palatino Linotype';
  font-size: 18pt;
  background-color: steelblue;
}
p {
   font-family: 'Cardo', serif, 'Georgia';
   font-size: 12pt;
   font-weight: lighter
  line-height: normal;
  font-kerning: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  vertical-align: baseline;
  text-indent: 1.0em;
  padding: 10px;
}
p::first-letter {
  font-size: 16pt;
}

.readmore {
   text-align: center;
   font-size: 1.5em;
   font-family: 'Cinzel', serif;
}
a:link {
   color: steelblue;
}

a:active {
   color: darkblue;
}

a:hover {
   color: black;
   font-style: bold;
}
